<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Jquery-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>식당리스트페이지</title>

    <script>
    function Searching() {
        $('#cards-box').empty()

        let search = $("#keyword").val();
        $.ajax({
            type: "GET",
            url: "/search",
            data: {search_give: search},
            success: function (response) {
                let rest_list = response['rest_lists']
                for (let i = 0; i < rest_list.length; i++) {
                    let rest_name = rest_list[i]['rest_name']
                    let rest_tag = rest_list[i]['rest_tag']
                    let call = rest_list[i]['callNum']
                    let image = rest_list[i]['image']
                    let address = rest_list[i]['address']
                    let star = rest_list[i]['star']
                    let rest_url = rest_list[i]['rest_url']

                    let temp_html = ` <div class="card">
                                                    <img id="img-name" class="card-img-top"
                                                         src=${image}
                                                         alt="Card image cap" width="100px" height="80px">
                                                    <div class="card-body">
                                                        <a target="_blank" href="${rest_url}" class="card-title" style="font-size: x-large">${rest_name}</a>
                                                        <p class="card-text star">별점 : ${star}</p>
                                                        <p class="card-text"> 주소 : ${address}</p>
                                                        <p class="card-text"> 전화번호 : ${call}</p>
                                                        <button id="btn-open-popup"class="btn btn-primary" onclick="window.location='/vegan/detailView'"</button>
                                                    </div>
                                               </div>`
                    $('#cards-box').append(temp_html);
                }
            }
        })
    }
</script>
</head>

<body>
<!-- Search bar -->
<div class="search-box d-flex justify-content-center">
    <input id="keyword" type="text" placeholder="구 이름을입력해주세요" class="form-control" style="margin-right: 0.5rem">
    <button class="btn btn-light" id="search" type="submit" onclick="Searching()"></button>
</div>
<!--list -->
<div id="cards-box">
</div>
</body>
</html>